<form [formGroup]="myForm" (submit)="submitForm(myForm)">
  <div class="container-fluid">
    <div class="form-box">
      <div class="field-box">
        <label class="name-label">Location Name :</label>
        <input formControlName="locationName" class="w-50" type="text" name="" id="">
      </div>
      <div class="field-box">
        <label class="map-label">
          Location on Map :
        </label>
        <div class="map-container w-50"
             leaflet
             [leafletOptions]="options"
             (leafletMapReady)="onMapReady($event)"
             (leafletClick)="mapClicked($event)">
        </div>
      </div>
      <div class="field-box">
        <label class="select-label">Location Type :</label>
        <div class="select-box w-50">
          <select class="w-100" formControlName="locationType">
            <option value="">select a type</option>
            <option *ngFor="let type of locTypes" [ngValue]="type">{{type}}</option>
          </select>
        </div>
      </div>
      <div class="field-box">
        <label class="upload-label">Logo :</label>
        <div class="upload-box w-50">
          <label for="fileInput">
            <img alt="" id="icon" src="https://image.freepik.com/free-icon/upload-arrow_318-26670.jpg">
          </label>
          <input (change)="uploadImage($event)" id="fileInput" type="file">
        </div>
      </div>
    </div>
    <div class="btn-box">
      <button class="submit" type="submit">Submit</button>
    </div>
  </div>
</form>
